[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Apache HTTPD
Exec=sudo systemctl start httpd
Terminal=false
Actions=start;stop;restart;logs;configs

[Desktop Action start]
Name=Start server
Exec=sudo systemctl start httpd

[Desktop Action stop]
Name=Stop server
Exec=sudo systemctl stop httpd

[Desktop Action restart]
Name=Restart server
Exec=sudo systemctl restart httpd

[Desktop Action logs]
Name=Logs
Exec=nautilus admin:///var/log/httpd

[Desktop Action configs]
Name=Configs
Exec=nautilus admin:///etc/httpd

