[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Bash Shell
Comment=Bash Shell
Exec=bash
Terminal=true

Actions=admin

[Desktop Action admin]
Name=Root Shell
Exec=sudo bash
