[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Fish Shell
Comment=Fish Shell
Exec=fish
Terminal=true

Actions=admin

[Desktop Action admin]
Name=Root Shell
Exec=sudo fish
