[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=GPG
Comment=GNU Privacy Guard
Exec=gpg
Terminal=true


Actions=help

[Desktop Action help]
Name=Help
Exec=sh -c "gpg --help; ${SHELL:-bash}"

