
[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Hashcat
Comment=
Exec=sh -c "hashcat -h; ${SHELL:-bash}"
Terminal=true

