
[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Ruby
Comment=Ruby REPL
Exec=irb
Terminal=true
Actions=pry;irb;

[Desktop Action pry]
Name=PRY
Exec=pry

[Desktop Action launch2]
Name=IRB
Exec=irb

