
[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Irssi
Comment=IRC Chat
Exec=irssi
Terminal=true

Actions=help

[Desktop Action help]
Name=
Exec=sh -c "irssi --help; ${SHELL:-bash}"

