[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Mpg123
Comment=Mpg123
Exec=sh -c "mpg123 --help; ${SHELL:-bash}"
Terminal=true


