[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=MariaDB
Exec=sh -c "mysql --help; ${SHELL:-bash}"
Terminal=true
Actions=start;stop;restart;logs;configs

[Desktop Action start]
Name=Start server
Exec=sudo systemctl start mariadb

[Desktop Action stop]
Name=Stop server
Exec=sudo systemctl stop mariadb

[Desktop Action restart]
Name=Restart server
Exec=sudo systemctl restart mariadb

[Desktop Action logs]
Name=Logs
Exec=nautilus admin:///var/log/mariadb

[Desktop Action configs]
Name=Configs
Exec=gedit admin:///etc/my.cnf

