[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Nginx
Exec=sudo systemctl start nginx
Terminal=false
Actions=start;stop;restart;logs;configs

[Desktop Action start]
Name=Start server
Exec=sudo systemctl start nginx

[Desktop Action stop]
Name=Stop server
Exec=sudo systemctl stop nginx

[Desktop Action restart]
Name=Restart server
Exec=sudo systemctl restart nginx

[Desktop Action logs]
Name=Logs
Exec=nautilus admin:///var/log/nginx

[Desktop Action configs]
Name=Configs
Exec=nautilus admin:///etc/nginx

