[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Nmap
Comment=Port scanner
Exec=sh -c "nmap --help; ${SHELL:-bash}"
Terminal=true


