[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Node.js
Comment=Node.js
Exec=node
Terminal=true

Actions=help

[Desktop Action help]
Name=Help
Exec=sh -c "node --help; ${SHELL:-bash}"

