
[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=RTorrent
Comment=RTorrent
Exec=rtorrent
Terminal=true

Actions=help

[Desktop Action help]
Name=
Exec=sh -c "rtorrent --help; ${SHELL:-bash}"

