[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=uWSGI
Exec=sudo systemctl start uwsgi
Terminal=false
Actions=start;stop;restart;configfile;configdir

[Desktop Action start]
Name=Start server
Exec=sudo systemctl start uwsgi

[Desktop Action stop]
Name=Stop server
Exec=sudo systemctl stop uwsgi

[Desktop Action restart]
Name=Restart server
Exec=sudo systemctl restart uwsgi


[Desktop Action configfile]
Name=Config File
Exec=nautilus admin:///etc/uwsgi.ini


[Desktop Action configdir]
Name=Config Directory
Exec=nautilus admin:///etc/uwsgi.d

