[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=org.gnome.Terminal
Name=Z Shell
Comment=Z Shell
Exec=zsh
Terminal=true
Actions=admin

[Desktop Action admin]
Name=Root Shell
Exec=sudo zsh

